.page-wrapper {
	position: relative;
	z-index: 2;
	background: #fff;
}

.head-controls {
	padding-top: 30px;
}

.row.filter {
	padding-top: 20px;
	padding-left: 0px;
}

.row.reset {
	padding-left: 0px;
}

.col-sm-12.reset {
	padding-left: 30px;
}

span.glyphicon-link {
    font-size: 2.0em;
}

.media {
	color: #ecf0f1;
	padding: 8px;

	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.media.positive {
	background-color: #2ECC71;
}

.media.negative {
	background-color: #E74C3C;
}

.media.middle {
	background-color: #7f8c8d;
}

.white, .white a {
  color: #fff;
}

.media-heading {
	color: #34495e;
}

.doge {
	margin: 0 0 50px;
	width: 280px;
}
