<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>CityFeel /Data</title>

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <link rel="shortcut icon" href="{{ STATIC_URL }}flat-ui/images/favicon.ico">
        <link rel="stylesheet" href="{{ STATIC_URL }}flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}flat-ui/bootstrap/css/bootstrap-responsive.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}flat-ui/css/flat-ui.css">

        <link rel="stylesheet" href="{{ STATIC_URL }}common-files/css/icon-font.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}common-files/css/animations.css">

        <!-- content -->
        <link rel="stylesheet" href="{{ STATIC_URL }}ui-kit/ui-kit-content/style.css">
        <!-- crew -->
        <link rel="stylesheet" href="{{ STATIC_URL }}ui-kit/ui-kit-crew/style.css">
        <!-- footer -->
        <link rel="stylesheet" href="{{ STATIC_URL }}ui-kit/ui-kit-footer/style.css">
        <!-- header -->
        <link rel="stylesheet" href="{{ STATIC_URL }}ui-kit/ui-kit-header/style.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}custom-styles.css">
    </head>

    <body>
        <div class="page-wrapper">

            <header class="header-15">
                <div class="container">
                    <div class="row">
                        <div class="navbar col-sm-12" role="navigation">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle"></button>
                                <a class="brand" href="#">CityFeel /Data</a>
                            </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav">
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li class="active"><a href="#">Data</a></li>
                                <li><a href="{% url 'map' %}">Map</a></li>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="header-background"></div>
            </header>

            <div class="container">
                <div class="row">
                    <div id="filters" class="col-sm-12 head-controls">
                        <p>Filter by Zone</p>
                        <button class="btn btn-default btn-embossed" data-filter="*">All Zones</button>
                        <button class="btn btn-default btn-embossed" data-filter=".up">North San Francisco</button>
                        <button class="btn btn-default btn-embossed" data-filter=".down">22nd Street</button>
                        <button class="btn btn-default btn-embossed">South San Francisco</button>
                    </div>
                </div>
{% for a in areas %}
<p>{{ a.area_id }} {{ a.desc }}</p>
{% endfor %}
                <div class="row filter" id="sentiment-media">
                {% for a in areas %}
                {% for e in a.entries %}
                    <div class="area{{ a.area_id }} col-sm-3 doge feeling {% if e.classification == 'pos' %}up{% endif %}{% if e.classification == 'neg' %}down{% endif %}">
                        <div class="media {% if e.classification == 'pos' %}positive{% endif %}{% if e.classification == 'neg' %}negative{% endif %}">
                            <a class="pull-left" href="#">
                                <span class="glyphicon glyphicon-user white" style="font-size: 20px"></span>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">@nicoladavenezia</h4>
                                {{ e.message }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% endfor %}
                </div>
        </div>

        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ STATIC_URL }}common-files/js/jquery-1.11.0.js"></script>
        <script src="{{ STATIC_URL }}common-files/js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}common-files/js/modernizr.custom.js"></script>
        <script src="{{ STATIC_URL }}common-files/js/page-transitions.js"></script>
        <script src="{{ STATIC_URL }}common-files/js/startup-kit.js"></script>
        <script src="{{ STATIC_URL }}common-files/js/isotope.pkgd.js"></script>

        <script type="text/javascript">
            var $container = $('#sentiment-media');
            // init
            $container.isotope({
              // options
              itemSelector: '.feeling',
              layoutMode: 'masonry'
            });
        </script>

        <script type="text/javascript">
            $('#filters').on( 'click', 'button', function() {
                var filterValue = $( this ).attr('data-filter');

                $container.isotope({ filter: filterValue });
            });
        </script>
    </body>
</html>