<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>CityFeel /Data</title>

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <link rel="shortcut icon" href="{{ STATIC_URL }}flat-ui/images/favicon.ico">
        <link rel="stylesheet" href="{{ STATIC_URL }}flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}flat-ui/bootstrap/css/bootstrap-responsive.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}flat-ui/css/flat-ui.css">

        <link rel="stylesheet" href="{{ STATIC_URL }}common-files/css/icon-font.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}common-files/css/animations.css">

        <!-- content -->
        <link rel="stylesheet" href="{{ STATIC_URL }}ui-kit/ui-kit-content/style.css">
        <!-- crew -->
        <link rel="stylesheet" href="{{ STATIC_URL }}ui-kit/ui-kit-crew/style.css">
        <!-- footer -->
        <link rel="stylesheet" href="{{ STATIC_URL }}ui-kit/ui-kit-footer/style.css">
        <!-- header -->
        <link rel="stylesheet" href="{{ STATIC_URL }}ui-kit/ui-kit-header/style.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}custom-styles.css">
    </head>

    <body>
        <div class="page-wrapper">

            <header class="header-15">
                <div class="container">
                    <div class="row">
                        <div class="navbar col-sm-12" role="navigation">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle"></button>
                                <a class="brand" href="#">CityFeel /Data</a>
                            </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav">
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li class="active"><a href="#">Data</a></li>
                                <li><a href="{% url 'map' %}">Map</a></li>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="header-background"></div>
            </header>

            <div class="container">
                <div class="row">
                    <div id="filters" class="col-sm-12 head-controls">
                        <p>Filter by Zone</p>
                        <button class="btn btn-default btn-embossed" data-filter="*">All Zones</button>
                        <button class="btn btn-default btn-embossed" data-filter=".up">North San Francisco</button>
                        <button class="btn btn-default btn-embossed" data-filter=".down">22nd Street</button>
                        <button class="btn btn-default btn-embossed">South San Francisco</button>
                    </div>
                </div>

                <div class="row filter" id="sentiment-media">

                    <div class="col-sm-3 doge feeling up">
                        <div class="media positive">
                            <a class="pull-left" href="#">
                                <span class="glyphicon glyphicon-user white" style="font-size: 20px"></span>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">@nicoladavenezia</h4>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisqu.
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3 doge feeling down">
                        <div class="media negative">
                            <a class="pull-left" href="#">
                                <span class="glyphicon glyphicon-user white" style="font-size: 20px"></span>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">@nicoladavenezia</h4>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3 doge feeling down">
                        <div class="media negative">
                            <a class="pull-left" href="#">
                                <span class="glyphicon glyphicon-user white" style="font-size: 20px"></span>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">@nicoladavenezia</h4>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus sceleriucibus.
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3 doge feeling up">
                        <div class="media positive">
                            <a class="pull-left" href="#">
                                <span class="glyphicon glyphicon-user white" style="font-size: 20px"></span>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">@nicoladavenezia</h4>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.us odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3 doge feeling down">
                        <div class="media negative">
                            <a class="pull-left" href="#">
                                <span class="glyphicon glyphicon-user white" style="font-size: 20px"></span>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">@nicoladavenezia</h4>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin 
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3 doge feeling down">
                        <div class="media negative">
                            <a class="pull-left" href="#">
                                <span class="glyphicon glyphicon-user white" style="font-size: 20px"></span>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">@nicoladavenezia</h4>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel
                            </div>
                        </div>
                    </div>

                </div>
        </div>

        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ STATIC_URL }}common-files/js/jquery-1.11.0.js"></script>
        <script src="{{ STATIC_URL }}common-files/js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}common-files/js/modernizr.custom.js"></script>
        <script src="{{ STATIC_URL }}common-files/js/page-transitions.js"></script>
        <script src="{{ STATIC_URL }}common-files/js/startup-kit.js"></script>
        <script src="{{ STATIC_URL }}common-files/js/isotope.pkgd.js"></script>

        <script type="text/javascript">
            var $container = $('#sentiment-media');
            // init
            $container.isotope({
              // options
              itemSelector: '.feeling',
              layoutMode: 'masonry'
            });
        </script>

        <script type="text/javascript">
            $('#filters').on( 'click', 'button', function() {
                var filterValue = $( this ).attr('data-filter');

                $container.isotope({ filter: filterValue });
            });
        </script>
    </body>
</html>