<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>CityFeel /Home</title>

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <link rel="shortcut icon" href="flat-ui/images/favicon.ico">
        <link rel="stylesheet" href="flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="flat-ui/bootstrap/css/bootstrap-responsive.css">
        <link rel="stylesheet" href="flat-ui/css/flat-ui.css">

        <link rel="stylesheet" href="common-files/css/icon-font.css">
        <link rel="stylesheet" href="common-files/css/animations.css">
        
        <!-- If you don't use any of these blocks just remove unnecessary CSS files -->
        <!-- content -->
        <link rel="stylesheet" href="ui-kit/ui-kit-content/style.css">
        <!-- crew -->
        <link rel="stylesheet" href="ui-kit/ui-kit-crew/style.css">
        <!-- footer -->
        <link rel="stylesheet" href="ui-kit/ui-kit-footer/style.css">
        <!-- header -->
        <link rel="stylesheet" href="ui-kit/ui-kit-header/style.css">
        <!-- header -->
        <link rel="stylesheet" href="ui-kit/ui-kit-contacts/style.css">
    </head>

    <body>
        <div class="page-wrapper">

            <section class="header-15-sub bg-midnight-blue">
                <div class="container">
                    <div class="hero-unit">
                        <h1>CityFeel</h1>
                        <p>MATTEO SCOTUZZI &amp; NICOLA PERANTONI</p>
                    </div>
                </div>
            </section>

            <section class="content-26 bg-clouds">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <h3>The Second Sneak-Peek of Startup Framework</h3>
                            <p class="lead">We’ve created the product that will help your
                                startup to look even better.</p>
                        </div>
                    </div>
                    <div class="row features">
                        <div class="col-sm-3">
                            <img src="common-files/icons/Chat@2x.png" alt="" width="100" height="100">
                            <h6>Real Time Data</h6>
                            Fetched from social networks, around you.
                        </div>
                        <div class="col-sm-4 col-sm-offset-1">
                            <img src="common-files/icons/Responsive1@2x.png" alt="" width="100" height="100">
                            <h6>Learn from People</h6>
                            People write about sentiments on social networks, <i>everyday.</i> User their feelings to understand your city.
                        </div>
                        <div class="col-sm-3 col-sm-offset-1">
                            <img src="common-files/icons/compas@2x.png" alt="" width="100" height="100">
                            <h6>Learn from your City</h6>
                            You can easily combine any blocks in a variety of design projects.
                        </div>
                    </div>
                </div>
            </section>

            <section class="content-12">
                <a class="wide btn-wide" href="data.html" target="_blank"><b>Fetch some data</b> from your area</a>
            </section>

            <section class="contacts-4">
                <div class="container">
                    <div class="content">
                        <h3>The Heat Map</h3>
                        <p>As a Harvard professor, he was one of the first to <br class="hidden-phone"> explore the relationship in equilibrium.</p>
                        <button class="btn btn-default btn-wide">
                          Try it
                        </button>
                    </div>
                </div>
            </section>

            <footer class="footer-12">
                <div class="container">
                    Made with <span class="fui-heart"> </span> in SF
                </div>
            </footer>

        </div>

        <!-- Placed at the end of the document so the pages load faster -->
        <script src="common-files/js/jquery-1.11.0.js"></script>
        <script src="common-files/js/bootstrap.min.js"></script>
        <script src="common-files/js/modernizr.custom.js"></script>
        <script src="common-files/js/startup-kit.js"></script>

    </body>
</html>