<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>CityFeel /Map</title>

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <link rel="shortcut icon" href="{{ STATIC_URL }}flat-ui/images/favicon.ico">
        <link rel="stylesheet" href="{{ STATIC_URL }}flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}flat-ui/bootstrap/css/bootstrap-responsive.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}flat-ui/css/flat-ui.css">

        <link rel="stylesheet" href="{{ STATIC_URL }}common-files/css/icon-font.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}common-files/css/animations.css">
        
        <!-- If you don't use any of these blocks just remove unnecessary CSS files -->
        <!-- header -->
        <link rel="stylesheet" href="{{ STATIC_URL }}ui-kit/ui-kit-header/style.css">

        <style type="text/css">
            html { height: 100% }
            body { height: 100%; margin: 0; padding: 0 }
            #map-canvas { height: 100% }
        </style>
    </head>

    <body>

        <header class="header-15">
            <div class="container">
                <div class="row">
                    <div class="navbar col-sm-12" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"></button>
                            <a class="brand" href="#">CityFeel /Heatmap</a>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav">
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li><a href="{% url 'data' %}">Data</a></li>
                                <li class="active"><a href="#">Map</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-background"></div>
        </header>

        <div class="container" id="map-canvas" style="height: 100%; width: 100%;"></div>

        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ STATIC_URL }}common-files/js/jquery-1.11.0.js"></script>
        <script src="{{ STATIC_URL }}common-files/js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}common-files/js/modernizr.custom.js"></script>
        <script src="{{ STATIC_URL }}common-files/js/startup-kit.js"></script>

        <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyCKptcbnEyv6IjFbLjLk59-necBjsRTOVc&sensor=false&libraries=visualization"></script>

        <script>
            // Adding 500 Data Points
            var map, pointarray, heatmap;

            var positiveData = [
                {% for c in classification %}
                    {% if c.label == 'pos' and c.entry.lat %}
                        new google.maps.LatLng({{ c.entry.lat }}, {{ c.entry.long }}),// {{ c.entry.id }}
                    {% endif %}
                {% endfor %}
            ];
            var negativeData = [
                {% for c in classification %}
                    {% if c.label == 'neg' and c.entry.lat %}
                        new google.maps.LatLng({{ c.entry.lat }}, {{ c.entry.long }}),// {{ c.entry.id }}
                    {% endif %}
                {% endfor %}
            ];

            function initialize() {
              var mapOptions = {
                zoom: 14,
                center: new google.maps.LatLng(37.774546, -122.433523),
                mapTypeId: google.maps.MapTypeId.SATELLITE,
                disableDefaultUI: true,
                scrollwheel: false,
                disableDoubleClickZoom: true
              };

              map = new google.maps.Map(document.getElementById('map-canvas'),
                  mapOptions);

              var pointArray = new google.maps.MVCArray(negativeData);

              heatmap = new google.maps.visualization.HeatmapLayer({
                data: pointArray
              });

              heatmap.setMap(map);
            }

            function toggleHeatmap() {
              heatmap.setMap(heatmap.getMap() ? null : map);
            }

            function changeGradient() {
              var gradient = [
                'rgba(0, 255, 255, 0)',
                'rgba(0, 255, 255, 1)',
                'rgba(0, 191, 255, 1)',
                'rgba(0, 127, 255, 1)',
                'rgba(0, 63, 255, 1)',
                'rgba(0, 0, 255, 1)',
                'rgba(0, 0, 223, 1)',
                'rgba(0, 0, 191, 1)',
                'rgba(0, 0, 159, 1)',
                'rgba(0, 0, 127, 1)',
                'rgba(63, 0, 91, 1)',
                'rgba(127, 0, 63, 1)',
                'rgba(191, 0, 31, 1)',
                'rgba(255, 0, 0, 1)'
              ]
              heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
            }

            function changeRadius() {
              heatmap.set('radius', heatmap.get('radius') ? null : 30);
            }

            function changeOpacity() {
              heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
            }

            google.maps.event.addDomListener(window, 'load', initialize);

    </script>
    </body>
</html>